<?xml version="1.0"?>
<config>
    <modules>
        <Elgentos_Automanufacturers>
            <version>0.1.2</version>
        </Elgentos_Automanufacturers>
    </modules>
    <default>
        <automanufacturers>
            <general>
                <enabled>0</enabled>
                <maincat>2</maincat>
                <attribute>75</attribute>
                <add_to_cat>1</add_to_cat>
            </general>
        </automanufacturers>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Elgentos_Automanufacturers>
                    <files>
                        <default>Elgentos_Automanufacturers.csv</default>
                    </files>
                </Elgentos_Automanufacturers>
            </modules>
        </translate>
        <layout>
            <updates>
                <automanufacturers>
                    <file>automanufacturers.xml</file>
                </automanufacturers>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <automanufacturers translate="title" module="automanufacturers">
                                            <title>Automanufacturers</title>
                                        </automanufacturers>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <frontend>
        <events>
            <cms_page_render>
                <observers>
                    <automanufacturers>
                        <type>singleton</type>
                        <class>Elgentos_Automanufacturers_Model_Header</class>
                        <method>add</method>
                    </automanufacturers>
                </observers>
            </cms_page_render>
        </events>
    </frontend>

    <global>
        <models>
            <automanufacturers>
                <class>Elgentos_Automanufacturers_Model</class>
            </automanufacturers>
        </models>
        <resources>
            <automanufacturers_setup>
                <setup>
                    <module>Elgentos_Automanufacturers</module>
                    <class>Elgentos_Automanufacturers_Model_Mysql4_Setup</class>
                </setup>
            </automanufacturers_setup>
        </resources>
        <blocks>
            <automanufacturers>
                <class>Elgentos_Automanufacturers_Block</class>
            </automanufacturers>
        </blocks>
        <events>
            <catalog_product_save_after>
                <observers>
                    <module>
                        <type>singleton</type>
                        <class>elgentos_automanufacturers_model_observer</class>
                        <method>createManuCats</method>
                    </module>
                </observers>
            </catalog_product_save_after>
        </events>

        <helpers>
            <automanufacturers>
                <class>Elgentos_Automanufacturers_Helper</class>
            </automanufacturers>
        </helpers>
    </global>
</config>
